# Yumna-19B-069-SE-(sec A)

In [1]:
#ex-2.1
#a
1 + 2 + 3 + 4 + 5

15

In [2]:
#b
sara_age = eval(input("enter the sara age: "))
mark_age = eval(input("enter mark age: "))
fatima_age = eval(input("enter fatima age: "))
average = ((sara_age + mark_age + fatima_age)/3)
print(average)

enter the sara age: 23
enter mark age: 16
enter fatima age: 19
19.333333333333332

In [3]:
#c
print(403 // 73)

5

In [4]:
#d
print(403 % 73)

38

In [5]:
#e
print("two to the paper 10 is: ",2 ** 10)

two to the paper 10 is:  1024

In [6]:
#f
sara_height = eval(input("enter sara height: "))
mark_height = eval(input("enter mark height: "))
print(abs(sara_height - mark_height))

enter sara height: 54
enter mark height: 57
3

In [7]:
#g
min(34.99, 29.95, 31.50)

29.95

In [8]:
#ex-2(a)
2 + 2 < 4

False

In [9]:
#b
7 // 3 == 1 + 1

True

In [10]:
#c
3 ** 2 + 4 ** 2 == 25

True

In [11]:
#d
2 + 4 + 6 > 12

False

In [12]:
#e
1387 % 19 == 0

True

In [13]:
#f
31 % 2 == 0

False

In [14]:
#g
min(34.99, 29.95, 31.50) < 30.00

True

In [15]:
#ex-2.3
#a
a = 3
#b
b = 4
#c
c = (a*b) + (b*b)
print(c)

28

In [16]:
#ex-2.4
s1 = "ant"
s2 = "bat"
s3 = "cod"
#a
print(s1 + " " + s2 + " "+ s3)
#b
print(10 * (s1 + " "))
#c
print(s1 + " " + (2 * (s2 + " ")) + (3 * (s3 + " ")))
#d
print(7 * (s1 + " " + s2 + " "))
#e
print(5 * (s2 + s3 + s3 + " "))

ant bat cod
ant ant ant ant ant ant ant ant ant ant
ant bat bat cod cod cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batcodcod batcodcod batcodcod batcodcod batcodcod

In [17]:
#ex-2.5
s = "0123456789"
print(s[0])
print(s[1])
print(s[6])
print(s[8])
print(s[9])

0
1
6
8
9

In [31]:
#ex-2.6
words = ["bat", "ball", "barn", "basket", "badminton"]
print(min(words))
print(max(words))

badminton
bat

In [18]:
#ex-2.7
grades =[9, 7, 7, 10, 3, 9, 6, 6, 2]
#a
print(grades.count(7))
#b
grades[-1] = 4
#c
print(max(grades))
#d
grades.sort()
print(grades)
#e
average = sum(grades)/9
print(average)

2
10
[3, 4, 6, 6, 7, 7, 9, 9, 10]
6.777777777777778

In [19]:
#ex-2.8
#a
((2 + 3) == 4) or (a >= 5)

False

In [23]:
#b
lst=[1,2,3,4,5,6,7,8,9]
(((lst[1]) * (-3)) < (-10)) == 0

True

In [24]:
#c
((lst[1]) * (-3) < (-10)) in [0, True]

True

In [25]:
#d
(2 * (3 ** 2))

18

In [26]:
#e
4/ 2 in [1, 2, 3]

True

In [27]:
#ex-2.9
#a
print(type(False + False))

<class 'int'>

In [28]:
#b
print(type(2 * (3 ** 2.0)))

<class 'float'>

In [29]:
#c
print(type((4 // 2) + (4 % 2)))

<class 'int'>

In [30]:
#d
print(type((2 + 3 == 4) or (5 >= 5)))

<class 'bool'>

In [5]:
#ex-2.10
#a
from math import sqrt
perpendicular = "a"
base = "b"
hypotenuse = sqrt((a ** 2) + (b ** 2))
#b
hypotenuse = sqrt((a ** 2) + (b ** 2)) == 5
#c
from math import pi
radius = a
area = pi * radius ** 2
#d
radius = "r"
(x - a) ** 2 + (y - b) ** 2 < r ** 2

NameError: name 'a' is not defined

In [30]:
#ex-2.11
#a
lst = [-7, -6, -5, -4, -3, -2, -1]
x = sum(lst)
print(x)

#b
total_kids = 89
average = ((17  * 9) + (24 * 10) + (21 * 11) + (27 * 12)) / total_kids
print(average)

#c
print(2 ** -20)

#d
print("The number of times 61 goes into 436 is: ", 4356 // 61)

#e
print("The reminder when 4356 is divided by 61: ",4356 % 61)

-28
10.651685393258427
9.5367431640625e-07
The number of times 61 goes into 436 is:  71
The reminder when 4356 is divided by 61:  25

In [32]:
#ex-2.12
s1 = '-'
s2 = '+'
# part a
print(s1 + s2)
# part b
print(s1 + s2 + s1)
# part c
print(s2 + s1 * 2)
# part d
print(2 * (s2 + (s1 * 2)))
# part e
print(11 * (s2 + (s1 * 2))) 
# part f
print(5 * (s2 + s1 + (3 * s2) + (2 * s1)))

-+
-+-
+--
+--+--
+--+--+--+--+--+--+--+--+--+--+--
+-+++--+-+++--+-+++--+-+++--+-+++--

In [33]:
#ex-2.13
s = 'abcdefghijklmnopqrstuvwxyz'
print(s[0])
print(s[2])
print(s[25])
print(s[24])
print(s[16])

a
c
z
y
q

In [34]:
#ex-2.14
s = 'goodbye'
# part a
print(s[0] == 'g')
# part b
print(s[6] == 'g')
# part c
print(s[0] == 'g' and s[1] == 'a')
# part d
print(s[5] == 'x')
# part e
x = int(len(s) / 2)
print(s[x] == 'd')
# part f
print(s[0] == s[-1])

True
False
False
False
True
False

In [35]:
#ex-2.15
# part a
x = len("anachronistically")
y = len("counterintuitive")
z = x == 1 + y
print(z)

# part b
x = "misinterpretation"
y = "misrepresentation"
z = x < y
print(z)

# part c
x = "floccinaucinihilipilification"
y = x.find != "e"
print(y)

# part d
x = len("counterrevolution")
y = len("counter")
z = len("resolution")
lengthOfYZ = y + z
total = x == lengthOfYZ
print(total)

True
True
True
True

In [36]:
#ex-2.16
# part a
a = 6
b = 7
# part b
c = ((a + b) / 2)
print(c)
# part c
inventory = ['paper', 'staples', 'pencils']
# part d
first = 'John'
middle = 'Fitzgerald'
last = 'Kennedy'
# part e
fullname = first + " " + middle + " " + last
print("My fullname is " + fullname)

6.5
My fullname is John Fitzgerald Kennedy

In [37]:
#ex-2.17
# part a
print((17 - 9) < 10)
# part b
inventory = ['paper', 'staples', 'pencils']
x = len(inventory)
print(x)
fullname = "John Fitzgerald Kennedy"
y = len(fullname)
print(y)
print((5 * x) > y)
# part c
a = 6
b = 7
c = ((a + b) / 2)
print(c > 24)
# part d
first = 'John'
x = len(first)
print(x)
middle = 'Fitzgerald'
y = len(middle)
print(y)
last = 'Kennedy'
z = len(last)
print(z)
print(y > x and y < z)

True
3
23
False
False
4
10
7
False

In [38]:
#ex-2.18
# part a
flower = ['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of valley']
# part b
print('potato' in flower)
# part c
thorny = flower[0:3]
print(thorny)
# part d
poisonous = flower[5:6]
print(poisonous)
# part e
dangerous = thorny + poisonous
print(dangerous)

False
['rose', 'bougainvillea', 'yucca']
['lilly of valley']
['rose', 'bougainvillea', 'yucca', 'lilly of valley']

# Expressions,Variables and Assignments chp2

In [2]:
print(3+7)
print(3*2)
print(5/2)
print(4/2)

10
6
2.5
2.0

In [4]:
print(2*3+1)
print(3+1*3)
print(4.321/3+10)
print(4.321/(3+10))

7
6
11.440333333333333
0.3323846153846154

In [6]:
print(2**3)
print(2**4)
print(14 // 3)
print(14 % 3)

8
16
4
2

In [8]:
print(abs(-4))
print(abs(4))
print(abs(-3.2))

4
4
3.2

In [9]:
print(min(6 , -2))
print(max(6 , -2))
print(min(2,-4,6,-2))
print(max(12,26.5,3.5))

-2
6
-4
26.5

# Boolean Expressions and Operators chp2

In [10]:
print(2 < 3)
print(3 < 2)
print(5 - 1 > 2 + 1)

True
False
True

In [11]:
print(3 == 3)
print(3 + 5 == 4 + 4)
print(3 == 5 - 3)
print(3 <= 4)
print(3 >= 4)
print(3 != 4)

True
True
False
True
False
True

In [12]:
print(3 < 4 or 4 < 3)
print(3 < 2 or 2 < 1)
print(not(3 < 4))

True
False
False

In [13]:
x = 4
print(x)
print(4 * x)
counter = 4 * x
print(counter)

4
16
16

# Strings chp2

In [17]:
s = "hello"
print(s)
s == "hello"
t = "world"
print(s != t)
print(s == t)
print(s + t)
print(s + ' ' + t)

hello
True
False
helloworld
hello world

In [16]:
print(s < t)
print(s > t)

True

In [20]:
print(3 * 'A')
print(' hello ' * 2)
print(30 * '_')

AAA
 hello  hello
______________________________

In [21]:
s = 'hello'
print('h' in s)
print('g' in s)

True
False

In [24]:
print(s[0])
print(s[1])
print(s[4])
print(s[-1])
print(s[-2])

h
e
o
o
l

# Lists and Tuples chp2

In [26]:
pets = ['goldfish' , 'cat' , 'dog']
print(pets[0])
print(pets[2])
print(pets[-1])
print(len(pets))
print(pets + pets)
print(pets * 2)
print('rabbit' in pets)
print('dog' in pets)

goldfish
dog
dog
3
['goldfish', 'cat', 'dog', 'goldfish', 'cat', 'dog']
['goldfish', 'cat', 'dog', 'goldfish', 'cat', 'dog']
False
True

In [27]:
lst = [23.99 , 19.99 , 34.50 , 120.99]
print(min(lst))
print(max(lst))
print(sum(lst))

19.99
120.99
199.46999999999997

In [29]:
pets[1] = 'cymric cat'
print(pets)
myCat = 'cymric cat'
print(myCat)

['goldfish', 'cymric cat', 'dog']
cymric cat